<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="envelope">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>サービス名未定</title>

  <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/lib/jquery/jquery-1.11.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/top/index.html}">サービス名未定</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Company</a></li>
            <li><a href="#">Help</a></li>
            <li><button type="button" class="btn btn-default navbar-btn">Sign out</button></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div th:include="this :: content"></div>
  </div>
</body>
</html>