<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>CoupServlet</servlet-name>
        <servlet-class>jp.co.mcoup.base.front.servlet.CoupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CoupServlet</servlet-name>
        <url-pattern>/page/*</url-pattern>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>jp.co.mcoup.base.front.servlet.listener.CoupServletContextListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>page/gate/index/page</welcome-file>
    </welcome-file-list>
</web-app>
